*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}







/* <!-- _______________________________________secondary-navbar-start____________________________________________ --> */




.navbar{
  background: #271344 !important;
}
.nav-item {
  margin-right: 30px;
}
.nav-item{
  text-decoration: none;
  color: white;
}
.nav-item a{
  text-decoration: none;
  color: white;
}
.bi-phone {
  color: #ffc000;
}
.nav-item:hover a{
  color:#ff4880;
  transition: all 900ms;
}
.bi-geo-alt-fill{
  color: #ffc000;
}
.bi-hourglass-split{
  color: #ffc000;
}
.navbar ul{
  display: flex;
}

.nav-item-logo{
  padding-top: 10px;
}
.logo-circle{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  
}
.logo-circle a img{
  width: 15px;
  height: 15px;
  margin-left: 7px;
  transition: transform 0.3s ease-in-out;
  
}
.logo-circle:hover a img{
  transform: rotateY(360deg);
}

.facebook{
  background-color: #1ab9ff;
}
.twitter{
  background-color: #ffc000;
}

.insta{
  background: #ff4880;
}

.skype{
  background: #abcd52;
}

/* <!-- _______________________________________secondary-navbar-end_____________________________________________ --> */



/* <!-- _______________________________________primary-navbar-start_____________________________________________ --> */


.primary-navbar-wrapper{
  background: #fff !important;
}
.nav-logo img{
  width: 184px;
  padding-bottom: 17px;
}

.collapse ul{
  padding-left: 10.2rem;
}
.dropdown:hover .dropdown-menu {
    display: block;
    width: 250px;
    /* box-shadow: 1px 1px 1px 1px black; */
    
  }
  .dropdown-toggle-no-arrow::after {
    display: none;
  }

  
.btn{
  width: 70px;
  height: 30px;
  background-color: white;
  color: black;
  text-align: center;
  padding-top: 2px;
  border: none;
}
.hero-nav-btn{
  background-color: #ff4880;
  color: white;
  width: 70px;
  height: 30px;
  border-radius: 7px;
  text-align: center;
  padding-right: 2px;
  padding-top: 2px;
}
.dropdown-item span{
 color: #ff4880;
}
.btn:hover{
  background-color: #ff4880;
}
.dropdown-menu {
  padding: 15px;   
}
.menu-border{
  border: 1px dashed #ff4880;
  border-radius: 7px;
}
.menu-border a{
  color: black !important;
}
.menu-border a:hover{
  color: #ff4880 !important;
  background-color: white;
}
.bi,.bi-arrow-right{
  display: none;
}
.dropdown-item:hover .bi-arrow-right{
  display: contents;
}

.nav-search{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px dashed #ff4880;
}
.nav-search-inner{
  position: relative;
  width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ff4880;
    bottom: 21px;
    left: 3px;
  
}

.bi-search{
  position: relative;
  color: white !important;
  padding-left: 12px;
  bottom: -7px;
  font-size: 17px;
}


/* <!-- _______________________________________primary-navbar-end________________________________________________ --> */



/* <!-- _______________________________________hero-section-start________________________________________________ --> */


.hero-img {
  height: 650px;
}
.hero-logo-1{ 
  position: relative;
  bottom: 500px;
  left: 212px;
  animation: updown 2s infinite;
}
.hero-logo-2{ 
  position: relative;
  bottom: 717px;
  left: 600px;
  animation: leftright 5s infinite;
}
.hero-logo-2 img{ 
  height: 200px;
  width: 500px;
}
.carousel-caption {
  bottom: 170px;
  left: -500px;
}
.carousel-caption h5{
  color: black;
}
.carousel-caption p{
  color: #7A7A7A;
  margin-left: 610px;
  font-size: 17px;
  text-align: left;
}

.carousel-caption a button{
  background-color:#ff4880;
  color: white;
  border: none;
  padding: 15px 25px;
  margin-right: 269px;
  border-radius: 12px;
  font-weight: bolder;
  transition: background-color 0.5s ease-in-out;
}
.carousel-caption a button:hover{
  background-color: #271344;
}
.carousel-caption a{
  text-decoration: none;
}
.carousel-caption a h5{
  color: white;
  margin-top: 10px;
  font-size: 17px;
}
.carousel-caption h3{
  color: #ff4880;
  padding-right: 18px;
  font-size: 50px;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 600;
  font-family: schoolbell,cursive;
}
.carousel-caption h4{
  color: #271344;
  padding-left: 162px;
  font-size: 50px;
  font-weight: bolder;
}

/* <!-- _______________________________________hero-section-end________________________________________________ --> */



/* <!-- _______________________________________info-main-start________________________________________________ --> */


.info-main-text{
  width: 600px;
  height: 60px;
  margin-left: 30%;
  margin-top: 35px;
  text-align: center;
}
.info-main-text h2{
  color: #ff4880;
  font-size: 50px;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 600;
  font-family: schoolbell,cursive;
}
.info-main-text h4{
  color: #271344;
  font-size: 50px;
  font-weight: bolder;
}
.info-main-text p{
  color: #7A7A7A;
  font-size: 16px;
}

.info-main-logo img{
  margin-left: 47%;
  margin-top: 110px;
  animation: leftright 5s infinite;
}

/* <!-- _______________________________________info-main-end________________________________________________ --> */



/* <!-- _______________________________________main-card-start________________________________________________ --> */


.main-card-1 {
    background-color: #FF6666;
    border-radius: 20px;
    border-bottom: 15px solid  #c51e50 !important;
}
.img-border{
  width: 165px;
  height: 165px;
border-radius: 50%;
margin-left: 50%;
transform: translateX(-50%);
margin-top: 30px;
border:2px dashed white ;
}
.main-card-1 img{
    width: 145px;
    height: 145px;
    overflow: hidden;
  border-radius: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
  
}

.card-title-main {
  font-weight: bolder;
  padding-top: 20px;
  text-align: center
}
.card-text-main{
  font-size: 15px; 
    padding-left: 15px;
    padding-right: 15px;
   padding-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}



.main-card-2 {
  background-color: #FFC000;
  border-radius: 20px;
  border-bottom: 15px solid  #c29203 !important;
}
.main-card-2 img{
  width: 145px;
  height: 145px;
  overflow: hidden;
border-radius: 50%;
margin-left: 50%;
transform: translateX(-50%);
margin-top: 8px;
}



.main-card-3 {
  background-color: #ABCD52;
  border-radius: 20px;
  border-bottom: 15px solid  #789c1d !important;
}
.main-card-3 img{
  width: 145px;
  height: 145px;
  overflow: hidden;
border-radius: 50%;
margin-left: 50%;
transform: translateX(-50%);
margin-top: 8px;
}



.main-card-4 {
  background-color: #1AB9FF;
  border-radius: 20px;
  border-bottom: 15px solid  #0d77a5 !important;
}
.main-card-4 img{
  width: 145px;
  height: 145px;
  overflow: hidden;
border-radius: 50%;
margin-left: 50%;
transform: translateX(-50%);
margin-top: 8px;
}



.main-card-footer-text {
  display: flex ;
  justify-content: space-between;
}
.main-card-footer-text h3{
  font-weight: bolder;
  color: #271344;
}
.main-card-footer-text h3 span{
  color: #ff4880;
}
.main-card-footer-text p{
  font-weight: bold;
  color: #7A7A7A;
}
.main-card-footer-button a button{
  background-color:#ff4880;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 12px;
  font-weight: bolder;
  transition: border-bottom 0.2s ease-in-out;
}
.main-card-footer-button:hover a button{
  border-bottom: 5px solid  #c51e50 !important;
}
.card{
  transition: transform 0.3s ease-in-out;
}
.card:hover{
  transform: translateY(-20px);
}


/* <!-- _______________________________________main-card-end________________________________________________ --> */


/* <!-- _______________________________________school-promo-start________________________________________________ --> */


.school-promo{
  background-color: #FCF9F4;
}

.school-promo-img{
  display: flex ;
  justify-content: space-between;
}
.school-promo-img figure img{
  animation: leftright 4s infinite;
}
.school-promo-text ul{
  display: flex;
  padding-left: 0;
}
.school-promo-text h2{
  font-weight: bolder;
  color: #271344;
  padding: 10px 0;
}
.school-promo-text p{
  color: #7A7A7A;
}
.school-promo-text h4{
  font-weight: bolder;
  color: #271344;
  padding: 10px 0;
}
.school-promo-text a button{
  background-color:#ff4880;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 12px;
  font-weight: bolder;
  margin: 15px 0;
  transition: background-color 0.5s ease-in-out;
}
.school-promo-text a button:hover{
  background-color: #271344;
}

/* <!-- _______________________________________school-promo-end________________________________________________ --> */


/* <!-- _______________________________________kid-start________________________________________________ --> */


.kid-wrapper-top{
  display: flex;
  justify-content: space-between;
}

.kid-top-text{
  width: 600px;
  height: 60px;
  margin-top: 35px;
  text-align: center;
}
.kid-top-text h2{
  color: #ff4880;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 600;
  font-family: schoolbell,cursive;
}
.kid-top-text h4{
  color: #271344;
  font-size: 40px;
  font-weight: bolder;
}
.kid-top-text p{
  color: #7A7A7A;
  font-size: 16px;
}
.kid-logo-left img{
  animation: leftright 5s infinite;
}
.kid-logo-right{
  animation: updown 4s infinite;
}
.kid-wrapper-bottem{
  animation: updown 4s infinite;
}
.kid-wrapper-main{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.kid-main-left ul{
  display: flex;
  justify-content: space-between;
}
.kid-main-left ul li h4{
  color: #271344;
  font-weight: bold;
  font-size: 24px;
  padding-right: 140px;
}
.kid-main-left ul li p{
  color: #7A7A7A;
}

.img-border-a{
  width: 80px;
  height: 80px;
border-radius: 50%;
margin-left: 50%;
transform: translateX(-50%);
border:2px dashed #ABCD52 ;
}
.img-border-a div{
    width: 70px;
    height: 70px;
    overflow: hidden;
  border-radius: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #ABCD52;
  margin-top: 3px;
}
.img-border-a div img{
  padding-top: 14px;
  padding-left: 16px;
}

.kid-main-left-b ul{
  display: flex;
  justify-content: space-between;
}
.kid-main-left-b ul li h4{
  color: #271344;
  font-weight: bold;
  font-size: 24px;
  padding-right: 140px;
}
.kid-main-left-b ul li p{
  color: #7A7A7A;
}
.img-border-a-2{
  width: 80px;
  height: 80px;
border-radius: 50%;
margin-left: 50%;
transform: translateX(-50%);
border:2px dashed #ff4880 ;
}
.img-border-a-2 div{
    width: 70px;
    height: 70px;
    overflow: hidden;
  border-radius: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #ff4880;
  margin-top: 3px;
}
.img-border-a-2 div img{
  padding-top: 14px;
  padding-left: 16px;
}


.kid-main-right ul{
  display: flex;
  justify-content: space-between;
}
.kid-main-right ul li h4{
  color: #271344;
  font-weight: bold;
  font-size: 24px;
  padding-right: 140px;
}
.kid-main-right ul li p{
  color: #7A7A7A;
}

.img-border-a-3{
  width: 80px;
  height: 80px;
border-radius: 50%;
margin-left: 50%;
transform: translateX(-50%);
border:2px dashed #1ab9ff ;
margin-right: 30px;
}
.img-border-a-3 div{
    width: 70px;
    height: 70px;
    overflow: hidden;
  border-radius: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #1ab9ff;
  margin-top: 3px;
}
.img-border-a-3 div img{
  padding-top: 14px;
  padding-left: 16px;
}

.kid-main-right-b ul{
  display: flex;
  justify-content: space-between;
}
.kid-main-right-b ul li h4{
  color: #271344;
  font-weight: bold;
  font-size: 24px;
  padding-right: 140px;
}
.kid-main-right-b ul li p{
  color: #7A7A7A;
}
.img-border-a-4{
  width: 80px;
  height: 80px;
border-radius: 50%;
margin-left: 50%;
transform: translateX(-50%);
border:2px dashed  #FFC000;
margin-right: 30px;
}
.img-border-a-4 div{
    width: 70px;
    height: 70px;
    overflow: hidden;
  border-radius: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #FFC000;
  margin-top: 3px;
}
.img-border-a-4 div img{
  padding-top: 14px;
  padding-left: 16px;
}


.kid-wrapper-bottem{
  margin-left: 50px;
}

/* <!-- _______________________________________kid-end________________________________________________ --> */


/* <!-- _______________________________________program-start________________________________________________ --> */


.program-wrapper{
  display: flex;
  position: relative;
}
.program-bgc{
  width: 50%;
  height: 500px;
  background-color: #271344;
}
.program-img img{
  position: absolute;
  right: 0;
  height: 500px !important;
  width: 50% !important;
}

.program-text ul{
  display: flex;
}
.program-text ul li h4{
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #ff4880;
    font-weight: 600;
    font-family: schoolbell,cursive;
    margin-right: 50px;
}
.program-text h2{
  font-family: fredoka one,sans-serif;
  font-weight: 400;
  color: white;
}
.program-text p{
  color: #FFFFFF;
  font-size: 17px;
}

.program-btn a img{
  position: absolute;
    left: 69%;
    bottom: 50%;
    transform: translateY(50%);
}

.program-accor{
  position: absolute;
  width: 40%;
}


/* <!-- _______________________________________program-end________________________________________________ --> */



/* <!-- _______________________________________info-main-2-start________________________________________________ --> */


.info-main-text-2{
  width: 600px;
  height: 60px;
  margin-left: 30%;
  margin-top: 35px;
  text-align: center;
}
.info-main-text-2 h2{
  color: #ff4880;
  font-size: 50px;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 600;
  font-family: schoolbell,cursive;
}
.info-main-text-2 h4{
  color: #271344;
  font-size: 50px;
  font-weight: bolder;
}
.info-main-text-2 p{
  color: #7A7A7A;
  font-size: 16px;
}

.info-main-logo-2 img{
  margin-left: 47%;
  margin-top: 110px;
  animation: leftright 5s infinite;
}



/* <!-- _______________________________________info-main-2-end________________________________________________ --> */


/* .owl-carousel .owl-nav button.owl-next{
  background-color: aqua;
  position: absolute;
  top: 50%;
  right: 0;
  width: 25px;
  transform: translateY(-50%);
}
.owl-carousel .owl-nav button.owl-prev{
  background-color: aqua;
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  transform: translateY(-50%);
} */

/* .card-s{
  width: 400px;
    margin-right: 25px;
    margin-left: 25px;
} */
.parents-wrapper{
  background-color: #FCF9F4;
  height: 900px
}
.my-carousel-1 .card{
  height: 500px;
  border-radius: 20px;
}
.my-carousel-2 .card{
  height: 500px;
  border-radius: 20px;
}


.parents-text{
  margin-right: 30%;
}
.parents-text .info-main-logo-2{
  margin-left: 25%;
}


.achiv-img{
  position: absolute;
    
}
.achivi-cards{
  display: flex;
  justify-content: space-between;
}
.achiv-img img{
  width: 100% ;
  height: 300px;
    
}
.achiv-card-1-border{
  position: relative;
  bottom: 66px;
  width: 210px;
  height: 210px;
border-radius: 50%;
margin-left: 50%;
transform: translateX(-50%);
border:3px dashed white ;
}
.achiv-card-1{
  position: relative;
  bottom: 190px;
}
.achivi-card-text{
  position: relative;
  top: 64px;
  left: 30px;
}
.achivi-card-text h3{
  font-size: 36px;
    color: #fff;
    line-height: 1;
    margin: 8px 7px 12px 10px;
    font-family: fredoka one,sans-serif;
    font-weight: bolder;
}
.achivi-card-text p{
  color: #fff;
  font-weight: bold;

}
.teacher{
  padding-top: 350px;
}
.teacher-wrapper{
  background-image: url(../imgs/image-bg-right-1.webp);
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
}
.info-main-text-3{
  width: 600px;
  height: 60px;
  margin-left: 22%;
  margin-top: 35px;
  text-align: center;
}
.info-main-text-3 h2{
  color: #ff4880;
  font-size: 50px;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 600;
  font-family: schoolbell,cursive;
}
.info-main-text-3 h4{
  color: #271344;
  font-size: 50px;
  font-weight: bolder;
}
.info-main-text-3 p{
  color: #7A7A7A;
  font-size: 16px;
}

.info-main-logo-3 img{
  margin-left: 47%;
  margin-top: 66px;
  margin-bottom: 30px;
  animation: leftright 5s infinite;
}

.teacher-btn {
  margin-left: 50%;
    transform: translateX(-15%);
    padding: 60px 0;
}
.teacher-btn a button{
  background-color:#ff4880;
  color: white;
  border: none;
  padding: 15px 25px;
  margin-right: 269px;
  border-radius: 12px;
  font-weight: bolder;
  transition: background-color 0.5s ease-in-out;
}
.teacher-btn a button:hover{
  background-color: #271344;
}





@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes leftright {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}


/* .achivi-cards:hover .achiv-card-1-border{
  animation: rotate-border 2s linear infinite;
}

@keyframes rotate-border {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */







